<template>
  <div id="password-eye">
    <strong>{{ passwordVal }}</strong>
    <a href="" @click.prevent="test()">
      <img :src=statusIcon  class="show-password-icon" />
    </a>
  </div>
</template>

<script>
  export default {
    mounted() {
      this.statusIcon   = this.eyeIcon;
      this.passwordVal  = this.defaultPassword;
    },

    props:  ['resourceId'],

    data: function() {
      return {
        defaultPassword:  '*********',
        passwordVal:  '',
        isVisible:    false,
        statusIcon:   '',
        eyeIcon:      '/images/eye.png',
        hideIcon:     '/images/hide.png'
      };
    },

    methods: {
        test: function() {
          if ( !this.isVisible) {
            axios
              .get(`/passwords/get-password/${this.resourceId}`)
              .then((response) => {
                if ( response.status === 200 ) {
                  this.passwordVal  = response.data;
                  this.isVisible    = true;
                  this.statusIcon   = this.hideIcon;
                } else {
                  alert(window.generalError);
                }
              })
              .catch(() => {
                alert(window.generalError);
              });
          } else {
            this.isVisible  = false;
            this.statusIcon = this.eyeIcon;
            this.passwordVal= this.defaultPassword;
          }

        }
    }
  }
</script>