.panel-heading {
  font-size:    24px;
}

.resource-item-line {
  padding:  5px;
}

.back-link {
  float:  right;
  font-size: 16px;
  padding-top:  8px;
  //text-align: right;
}

.manage-btn {
  float: right;
  margin: 5px;
}

.panel-heading-text {
  height: 26px;
}

#password-not-same {
  display: none;
  //margin: 5px;
}

.password-not-same {
  color: red;
  font-weight: bold;
}