.show-password-icon {
  width:    30px;
  height:   30px;
  vertical-align: middle;
  margin-bottom: 8px;
  float:  right;
}

.password-resource-wrapper {
  margin: $common-item-margin;
}

.password-resource-total {
  font-size:  16px;
}

.new-resource-button {
  float: right;
}